* {
  outline: 1px solid blue;
}

body {
  background-color: gray;
}

.stage {
  background-color: green;
}

img {
  max-height: 100px;
  max-width: 100px;
}

.div-1 {
  background-color: red;
}



/* Example Rules */


/*EX2*/
/*.div-1 {
  position: relative;
  top: 20px;
  left: -40px;
}
*/

/*EX3*/
/*.div-1a {
 position:absolute;
 top:0;
 right:0;
}*/

/*EX4*/
.div-1 {
 position:relative;
}
.div-1a {
 position:absolute;
 top:0;
 right:0;
}

/*EX5*/
/*.div-1 {
 position:relative;
}
.div-1a {
 position:absolute;
 top:0;
 right:0;
}
.div-1b {
 position:absolute;
 top:0;
 left:0;
}*/

