<div class="stage">
  <h1>Index View</h1>
  <%= @lorem %>
  <div class="img_container">
    <img src="http://static.comicvine.com/uploads/original/11121/111217887/4460067-bowser+koopa.jpg">
  </div>
</div>
