<div class="stage">
  <h1>Index View</h1>

  <div class="div-before">BEFORE</div>
  <div class="div-1">

    <div class="div-1a">
      <img src="<%= @img1 %>">
    </div>
    <div class="div-1b">
      <img src="<%= @img2 %>">
    </div>

  </div>
  <div class="div-1c" style="display:none">
    <img src="<%= @img3 %>">
  </div>
  <div class="div-after">AFTER</div>

</div>
